.hover-anim:hover {
	transform: translateY(-2px);
	transition: all 0.2s;
}

.swing-in-bottom-fwd {
	animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-bottom-fwd {
	0% {
		transform: rotateX(100deg);
		transform-origin: bottom;
		opacity: 0;
	}
	100% {
		transform: rotateX(0);
		transform-origin: bottom;
		opacity: 1;
	}
}

.swing-in-top-fwd {
	animation: swing-in-top-fwd 0.75s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd {
	0% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}

.bounce-in-left {
	animation: bounce-in-left 1.1s both;
}

@keyframes bounce-in-left {
	0% {
		transform: translateX(-600px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		transform: translateX(0);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		transform: translateX(-68px);
		animation-timing-function: ease-in;
	}
	72% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
	81% {
		transform: translateX(-28px);
		animation-timing-function: ease-in;
	}
	90% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
	95% {
		transform: translateX(-8px);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateX(0);
		animation-timing-function: ease-out;
	}
}