.hover-anim:hover {
	transform: translateY(-2px);
	transition: all 0.2s;
}

.swing-in-bottom-fwd {
	animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-bottom-fwd {
	0% {
		transform: rotateX(100deg);
		transform-origin: bottom;
		opacity: 0;
	}
	100% {
		transform: rotateX(0);
		transform-origin: bottom;
		opacity: 1;
	}
}

.swing-in-top-fwd {
	animation: swing-in-top-fwd 0.75s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd {
	0% {
		transform: rotateX(-100deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}