* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;
	background: #2F3136;
}

.main-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.panel {
	width: 100%;
	max-width: 700px;
	padding: 30px;
	background: #36393F;
	border-radius: 10px;
	border: 1px solid #26292E;
	box-shadow: 0 5px 10px -5px #000;
	display: flex;
	flex-direction: column;
}

.title {
	color: #b6b6b6;
}

.button-primary {
	height: 45px;
	margin-left: 5px;
	padding: 10px 20px 10px 20px;
	border: 4px;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	background: #455282;
}

.text-area {
	color: #b6b6b6;
	width: 100%;
	max-width: 570px;
	border: 0;
	border-radius: 5px;
	padding: 0 20px;
	height: 45px;
	font-size: 16px;
	background-color: #484C52;
}

.text-area::placeholder {
	color: #858585;
}

.message-container {
	height: 300px;
	margin-top: 20px;
	overflow-y: auto;
}

.message-container::-webkit-scrollbar {
	width: 10px;
}

.message-container::-webkit-scrollbar-track {
	border-radius: 4px;
	background: #2e3135;
}

.message-container::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #484C52;
}

.avatar-info {
	width: 100%;
	height: 40px;
	display: grid;
	grid-template-columns: 0fr 1fr;
}

.avatar-image {
	width: 40px;
	height: 40px;
	border: 2px solid #5064b4;
	border-radius: 50%;
}

.avatar-name {
	margin-left: 15px;
	color: #8dce7d;
	font-size: 18px;
}

.message-item-text {
	margin-top: -15px;
	margin-left: 60px;
	color: #b6b6b6;
	word-wrap: break-word;
}

.message-item-link {
	color: #00c3ff;
}

.message-item {
	width: 90%;
	padding: 10px;
}

.message-item:nth-child(odd) {
	border-radius: 4px;
	background: #3d4046;
}

.font-bold-n-italic {
	font-weight: bold;
	font-style: italic;
}

.space {
	width: 100%;
	margin-top: 20px;
}